---
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  image: ImageMetadata;
  href: string;
}

const { title, description, image, href } = Astro.props;
---

<div class="swiper-slide shadow-md rounded-3xl min-h-full" onclick="">
  <a href={href} target="_blank">
    <Image
      src={image}
      alt=`Imagen del plan de: ${title}`
      class="rounded-t-3xl w-full h-96"
    />
    <div class="p-5">
      <h4 class="text-xl font-bold">
        {title}
      </h4>
      <h5 class="secondary-color">
        {description}
      </h5>
    </div>
  </a>
</div>
